/*menu de navegacion*/
.menu-fixed{
    position: fixed;
    z-index: 1000;
    top: 0;
}
.ul .li{
    list-style: none;
    margin: 0 20px;
    transition: 0.5s;
}
.ul .li .a {
    display: block;
    position: relative;
    text-decoration: none;
    padding: 5px;
    font-size: 18px;
    font-family: fantasy;
    color: #ffffff;
    text-transform: uppercase;
    transition: 0.5s;
    height: 8.6vh;
    font-family: sans-serif;
}
.ul:hover .li .a{
transform: scale(1.5);
opacity: .2;
filter: blur(5px);
} 
.ul:selection .li .a{
    color: darkgreen;
}
.ul .li .a:hover{
    transform: scale(1.5);
    opacity: 1;
    filter: blur(0);
} 
.logo{
    margin-top: 0;
    padding-top: 0;
    float: right;
    width: 30%;
    height: 100%;
}

@media (min-width: 80%) {
    #nav-movile {
      padding-right: 10px;
    }
  }
  
@media (max-width: 991px) {
    #nav-movile {
      display: none;
    }
  }
/*carousel*/
.slider{
    margin-top: 1%;
}
#image{
    filter: brightness(0.3);
}


/*body contenido*/
body{
    background-image: url(../img/fondos/about-bg.jpg);
}

.icon-blue{
    color: green;
    text-align: center;
}
.icons_1{
    margin-top: 5%;
    text-align: center;
    height: 490px;
    border: 3px solid rgb(41, 41, 43);
    
}
.icons_2{
    margin-top: 5%;
    text-align: center;
    height: 490px;
    border: 3px solid rgb(41, 41, 43);
    
}
.icons_3{
    margin-top: 5%;
    text-align: center;
    height: 490px;
    border: 3px solid rgb(41, 41, 43);

}
.collapsible{
    text-align: center;
    border: 3px solid rgb(41, 41, 43);
}
.habilidades{
    text-align: center;
    align-items: center;
}
.row{
    align-items: center;
    margin: 0;
    padding: 0;
}
.modal{
    margin-bottom: 300px;
    text-align: justify;
}
.section-header{
    text-align: center;
}
.columna{
   text-align: justify;
   border: solid;
   border: 2px;
   border-color: #000;

}
.description{
    border: 1px solid #000;
    text-align: justify;
    height: 180px;
}
.boton{
    border: 2px solid #000;
    text-align: justify;
}
/*seccion de footer*/
.info{
    text-align: justify;
}
.boletin{
    text-align: justify;
}
.page-footer{
    height: 50vh;
}
.ul-1{
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
}
.ul-1 .li-1{
    position: relative;
    list-style: none;
    width: 30px;
    height: 30px;
    margin: 80px 20px ;
    margin-bottom: 1px;
    transform: rotate(-30deg) skew(25deg);
    background: #ccc;

}
.ul-1 .li-1 span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.4s;
    display: flex !important;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 40px !important;
}
.ul-1 .li-1:hover span:nth-child(5){
    transform: translate(40px,-40px);
    opacity: 1;
}
.ul-1 .li-1:hover span :nth-child(4){
    transform: translate(30px,-30px);
    opacity: .7;
}
.ul-1 .li-1:hover span :nth-child(3){
    transform: translate(20px,-20px);
    opacity: .6;
}
.ul-1 .li-1:hover span :nth-child(2){
    transform: translate(10px,-10px);
    opacity: .4;
}
.ul-1 .li-1:hover span :nth-child(1){
    transform: translate(0,0);
    opacity: .2;
}
.ul-1 .li-1:nth-child(1) span{
    background: #3b5999;
}
.ul-1 .li-1:nth-child(2) span{
    background: #55acee;
}
.ul-1 .li-1:nth-child(3) span{
    background: #dd4b39;
}
/*nuestra empresa*/


